@media(min-width: 768px) {
  .nav__brand,
  .nav__menu {
    margin-right: 5%;
  }
  
  .nav__menu__item {
    margin-right: 5%;
  }

  .nav__brand__logo__img {
    height: 3em; 
  }

  .brand-name--sm-w {
    font-size: 1.5em;
  }

  .footer__bottom {
    border-top: 0.1em solid $lg-m;
    flex-direction: row !important;
    align-items: center !important;
  }

  .footer__bottom__copyright {
    flex-direction: row !important;
    width: 70%;
    flex-wrap: wrap;
  }

  .footer__bottom__social {
    margin-top: 0;
  }
  
}
