@media(min-width: 768px) {
  .nav__brand,
  .nav__menu {
    margin-right: 5%;
  }
  
  .nav__menu__item {
    margin-right: 5%;
  }

  .nav__brand__logo__img {
    height: 3em !important; 
  }

  .brand-name--sm-w {
    font-size: 1.5em;
  }
}
