@font-face {font-family: "Helvetica Neue Light";
  src: url("fonts/hnlight/0e6de1ec911a2e267ff136bbdd384a44.eot"); /* IE9*/
  src: url("fonts/hnlight/0e6de1ec911a2e267ff136bbdd384a44.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/hnlight/0e6de1ec911a2e267ff136bbdd384a44.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/hnlight/0e6de1ec911a2e267ff136bbdd384a44.woff") format("woff"), /* chrome、firefox */
  url("fonts/hnlight/0e6de1ec911a2e267ff136bbdd384a44.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/hnlight/0e6de1ec911a2e267ff136bbdd384a44.svg#Helvetica Neue Light") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Helvetica Neue 65 Medium";
  src: url("fonts/hnmedium/6c6db39a56fe8e8f19ba47c6a0770a18.eot"); /* IE9*/
  src: url("fonts/hnmedium/6c6db39a56fe8e8f19ba47c6a0770a18.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/hnmedium/6c6db39a56fe8e8f19ba47c6a0770a18.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/hnmedium/6c6db39a56fe8e8f19ba47c6a0770a18.woff") format("woff"), /* chrome、firefox */
  url("fonts/hnmedium/6c6db39a56fe8e8f19ba47c6a0770a18.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/hnmedium/6c6db39a56fe8e8f19ba47c6a0770a18.svg#Helvetica Neue 65 Medium") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Helvetica Neue 77 Bold Condensed";
  src: url("fonts/hnbold/d72e521f27450184733d89aa499e531c.eot"); /* IE9*/
  src: url("fonts/hnbold/d72e521f27450184733d89aa499e531c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/hnbold/d72e521f27450184733d89aa499e531c.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/hnbold/d72e521f27450184733d89aa499e531c.woff") format("woff"), /* chrome、firefox */
  url("fonts/hnbold/d72e521f27450184733d89aa499e531c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/hnbold/d72e521f27450184733d89aa499e531c.svg#Helvetica Neue 77 Bold Condensed") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Gotham Bold";
  src: url("fonts/gbold/5d6f50ed2dde0e4ad455448f896c09f0.eot"); /* IE9*/
  src: url("fonts/gbold/5d6f50ed2dde0e4ad455448f896c09f0.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/gbold/5d6f50ed2dde0e4ad455448f896c09f0.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/gbold/5d6f50ed2dde0e4ad455448f896c09f0.woff") format("woff"), /* chrome、firefox */
  url("fonts/gbold/5d6f50ed2dde0e4ad455448f896c09f0.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/gbold/5d6f50ed2dde0e4ad455448f896c09f0.svg#Gotham Bold") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Gotham Rounded Light";
  src: url("fonts/grlight/1549fe8fd297f1e6501a3d6ad7f77394.eot"); /* IE9*/
  src: url("fonts/grlight/1549fe8fd297f1e6501a3d6ad7f77394.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/grlight/1549fe8fd297f1e6501a3d6ad7f77394.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/grlight/1549fe8fd297f1e6501a3d6ad7f77394.woff") format("woff"), /* chrome、firefox */
  url("fonts/grlight/1549fe8fd297f1e6501a3d6ad7f77394.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/grlight/1549fe8fd297f1e6501a3d6ad7f77394.svg#Gotham Rounded Light") format("svg"); /* iOS 4.1- */
}


// BRAND NAME STYLING
.brand-name {
  font-family: 'Fascinate', cursive;

  &--sm-w {
    @extend .brand-name;
    color: white;
    font-size: 1em;
  }

  &--sm-w:hover {
    @extend .brand-name--sm-w;
    color: white;
  }

  &--sm-l {
    @extend .brand-name;
    color: $light;
    font-size: 1.5em;
  }

  &--lg-w {
    @extend .brand-name;
    color: white;
    font-size: 5em;
    line-height: 1em;
    text-shadow: -2px -1px 1px rgb(116, 116, 116);
  }

  &--lg-w-page {
    @extend .brand-name;
    color: white;
    font-size: 3em;
    line-height: 1em;
    text-shadow: -2px -1px 1px rgb(116, 116, 116);
  }

  &:hover {
    cursor: pointer;
  }
}

// TRANSFORM UPPERCASE
.tupper {
  text-transform: uppercase;
}

// FONT COLORS
.co-w {
  color: #fff;
}

.co-d {
  color: $dark;
}

.co-dt {
  color: $dark-text;
}

.co-r {
  color: $red;
}

.co-l {
  color: $light;
}

// FONT CLASSES
.f-hl {
  font-family: "Helvetica Neue Light";
}

.f-hm {
  font-family: "Helvetica Neue 65 Medium";
}

.f-hb {
  font-family: "Helvetica Neue 77 Bold Condensed";
}

.f-gb {
  font-family: "Gotham Bold";
}

.f-gl {
  font-family: "Gotham Rounded Light";
}
