$spaceamounts: (0,1,2,3,4,5,6,7,8,9,10); 
$percent: (5,10,13,14,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100);
$dark: #383838;
$light: #888;
$lg: #F3F3F3;
$lg-m: #dbdbdb;
$red: #d35266;
$dark-text: #474747;

// WIDTH & HEIGHT               00000000000000000000000000000000000000
.w-mc {
  width: max-content;
}

@each $per in $percent {
  .w-#{$per} {
    width: #{$per}% !important;
  }
}

.max-w-80 {
  max-width: 80em;
}

.h-100 {
  height: 100%;
}

.h-search {
  height: 3em;
}

// CUSTOM FLEX              0000000000000000000000000000000000 
.flex {
  display: flex; 
}

.ai-c {
  @extend .flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.jc-c {
  @extend .flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}

.jc-sb {
  @extend .flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}

// MARGIN CLASSES
@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}em;
  }

  .my-#{$space} {
    margin: #{$space}em 0;
  }

  .mx-#{$space} {
    margin: 0 #{$space}em;
  }

  .mt-#{$space} {
    margin-top: #{$space}em;
  }

  .ml-#{$space} {
    margin-left: #{$space}em;
  }

  .mb-#{$space} {
    margin-bottom: #{$space}em;
  }

  .mr-#{$space} {
    margin-right: #{$space}em;
  }
}

.center {
  margin: auto;
}

// PADDING CLASSES
@each $space in $spaceamounts {
  .p-#{$space} {
    padding: #{$space}em;
  }

  .py-#{$space} {
    padding-top: #{$space / 2}em;
    padding-bottom: #{$space / 2}em;
  }

  .px-#{$space} {
    padding-right: #{$space}em;
    padding-left: #{$space}em;
  }

  .pt-#{$space} {
    padding-top: #{$space}em;
  }

  .pl-#{$space} {
    padding-left: #{$space}em;
  }

  .pb-#{$space} {
    padding-bottom: #{$space}em;
  }

  .pr-#{$space} {
    padding-right: #{$space}em;
  }

  .px-percent {
    padding-right: 37.5%;
    padding-left: 37.5%;
  }
}

// BACKGROUND COLORS                   0000000000000000000000000000000000000
.bg-dark {
  background-color: #{$dark};
}

.bg-red {
  background-color: #{$red};
}

.bg-light {
  background-color: #{$light};
}

.bg-lighter {
  background-color: #{$lg};
}

.bg-white {
  background-color: #fff;
}

.bg-transparent {
  background-color: transparent;
}

// BUTTONS                   0000000000000000000000000000000000
%btn {
  @extend .py-1;
  @extend .px-1;
  border: none;
  border-radius: 0.2em;
  font-size: 1em;
}

%btn2 {
  @extend .px-1;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 0.2em;
  border: 0.1em solid $lg-m;
  font-size: 0.8em;
}

.btn-red {
  @extend %btn;
  @extend .bg-red;
  color: #fff;
  -webkit-box-shadow: inset 0px 72px 14px -76px rgba(255,255,255,0.65);
  -moz-box-shadow: inset 0px 72px 14px -76px rgba(255,255,255,0.65);
  box-shadow: inset 0px 72px 14px -76px rgba(255,255,255,0.65);
}

.btn-dark {
  @extend %btn;
  @extend .bg-dark;
  color: $light;
  height: 3em;
}

.btn-transparent {
  @extend %btn2;
  @extend .bg-transparent;
  color: $dark-text;
  font-family: "Helvetica Neue 65 Medium";
}

.btn-transparent:hover {
  @extend .bg-dark;
  @extend .co-w;
}

// IMG STYLING 
.round {
  border-radius: 50%;
}

// BOX STYLING
.bord-r-red {
  border-right: 0.1em solid $red;
}

.bord {
  border: 0.1em solid $lg-m;
}

.bord-x {
  border-right: 0.1em solid $lg-m;
  border-left: 0.1em solid $lg-m;
}

.bord-y {
  border-top: 0.1em solid $lg-m;
  border-bottom: 0.1em solid $lg-m;
}

.bord-t {
  border-top: 0.1em solid $lg-m;
}

.bord-b {
  border-bottom: 0.1em solid $lg-m;
}

.bord-r {
  border-right: 0.1em solid $lg-m;
}

.bord-l {
  border-left: 0.1em solid $lg-m;
}
