@import 'utilities';
@import 'typography';
@import 'media';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  height: 3.8125em;
    margin: 0 auto;
}

h6 {
  font-size: 0.975em;
}

ul {
  list-style-type: none;
}

.nav__brand {
  @extend .w-mc;
  display: flex;
  margin-right: 2em;
}

.nav__menu {
  margin-right: 2em;
}

::placeholder {
  color: $dark; 
}

.nav__menu__item {
  font-size: 1em;
  margin-right: 1em;
}

.nav__brand__name {
  margin: auto 0;
}

.nav__brand__logo__img {
  height: 2em;
  filter: invert(40%) sepia(69%) saturate(569%) hue-rotate(301deg) brightness(92%) contrast(88%);
}

.upper {
  height: 22.5625em;
}

.search__dropdown-text,
.search__question {
  font-size: 0.8em;
} 

.search__input {
  border: none;
  padding-left: 1em;
}

input {
  outline: none;
}

.hotads {
  height: 19.5625em;
  border-bottom: 0.1em solid $lg-m;
}

.hotads__main_content-img,
.results__main_content-img {
  width: 22.6875em;
  height: 13.5em;
  background: url(../images/cordoba-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.results__main_content-img {
  background-size: cover;
  height: 14em;
  margin: auto;
}

.hotads__arrow_circle {
  width: 3.1875em;
  height: 3.1875em;
  border: 0.1em solid $lg-m;
  background-color: white;
}

.hotads__arrow_circle:hover {
  @extend .bg-light;
  cursor: pointer;  
  border: 0.1em solid $light;
  font-size: 1.2em;
}

.hotads__main_content-info h3,
.results__main_content-info h3
 {
  font-size: 1.3em;
}

.hotads__main_content-info p,
.results__main_content-info p
 {
  font-size: 0.8em;
  margin: 0.5em 0;
}

.hotads__main_content-info-button button:first-child {
  height: 3em;
  border-radius: 0.2em 0 0 0.2em;
}

.hotads__main_content-info-button button:last-child {
  height: 3em;
  border-radius: 0 0.2em 0.2em 0;
  border-left: 0.05em solid $dark;
}

.products__display__header {
  border-bottom: 0.1em solid $lg-m;
  padding-bottom: 0.9em;
  -webkit-box-shadow: 0px 10px 7px -11px rgba(252,252,252,1);
  -moz-box-shadow: 0px 10px 7px -11px rgba(252,252,252,1);
  box-shadow: 0px 10px 7px -11px rgba(252,252,252,1);
}

.products__display__header h5 {
  font-size: 1em;
  margin-bottom: 0;
}

.products__display__header p {
  font-size: 0.8em;
  margin-bottom: 0;
}

.fa-guitar {
  font-size: 1.5em;
}

.products__display__cards-item {
  width: 12.5em;
  height: 17.5625em;
  background-color: white;
  border: 0.1em solid $lg-m;
}

.products__display__cards-item--content > span,
.products__display__cards-item--content p {
  font-size: 0.8em;
}

.products__display__cards-item--content h6 {
  margin-bottom: 0;
}

.plus {
  width: 1.375em;
  height: 1.375em;
  border: 0.1em solid $lg-m;
}

.plus--page {
  width: 1.5em;
  height: 1.5em;
  border: 0.1rem solid $lg-m;
  font-size: 1.5em;
}

.results__main_content-info p {

}

.products__display__cards-item--img {
  background: url(../images/card-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.price {
  font-size: 0.9em;
}

.products {
  border-bottom: 0.1em solid $lg-m;
}

footer {
  height: 17.125em;
}

.footer__main--title {
  color: $red;
  font-family: "Helvetica Neue 77 Bold Condensed";
  border-bottom: 0.15em solid $red;
  padding-bottom: 0.5em;
}

.footer__logo__img {
  height: 2.3em;
  filter: invert(59%) sepia(0%) saturate(25%) hue-rotate(229deg) brightness(91%) contrast(84%);
}

.footer__logo__name {
  font-family: 'Fascinate', cursive;
  color: $light;
}

.footer__main__about p {
  text-align: center;
}

.footer__main__options span {
  font-size: 0.9em;
}

.links {
  padding-top: 1em;
}

li {
  font-family: 'Helvetica Neue 65 Medium';
}

.footer__bottom {
  border-top: 0.1em solid $lg-m;
  line-height: 3em;
  height: 3em;
}

.footer__bottom__copyright {
  font-size: 0.8em;
}

.footer__bottom_social a {
  font-size: 1.3em;
  padding-right: 0.7em;
 }

.footer__bottom_social a:hover {
  font-size: 1.8em;
}
 
footer a {
  color: $light;
  font-size: 0.8em;
}

footer a:hover {
  color: $dark;
  text-decoration: none;
  font-size: 1em;
}

footer a:active,
footer a:focus {
  outline: none;
}

.results__header-p {
  font-size: 0.9em;
}

.results__block:hover {
  background-color: white;
}

@media only screen and (min-width: 768px) {
  .nav__brand,
  .nav__menu {
    margin-right: 5em !important;
  }
  
  .nav__menu__item {
    margin-right: 4em;
  }
}