@import 'utilities';
@import 'typography';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: $light;
}

a:hover {
  color: $light;
  text-decoration: none;
}

nav {
  height: 3.8125em;
  margin: 0 auto;
}

h6 {
  font-size: 0.975em;
}

ul {
  list-style-type: none;
}

.nav--left {
  width: 100%;
  justify-content: space-between;
}

.nav__brand {
  @extend .w-mc;
  display: flex;
  margin-right: 2em;
}

.nav__menu--short {
  font-size: 1.5em;
  color: $light;
  border: 0.02em solid $light;
  border-radius: 5%;

  &:hover {
    background-color: $red;
    border-color: $red;
    color: $lg;
    cursor: pointer;
  }
}
 
.nav__menu {
  margin-right: 2em;
  display: none;
}

::placeholder {
  color: $dark; 
}

.nav__button {
  margin-left: 10%;
}

.nav__menu__item {
  font-size: 1em;
  margin-right: 1em;
}

.nav__brand__name {
  margin: auto 0;
}

.watermark {
  position: absolute;
  top: -5em;
  z-index: 1;
  height: 25em;
  opacity: 25%;

  &-2 {
    @extend .watermark;
    height: 35em;
  }
}

.z-2 {
  z-index: 2;
  position: relative;
}

.nav__brand__logo__img {
  height: 2em;
  filter: invert(40%) sepia(69%) saturate(569%) hue-rotate(301deg) brightness(92%) contrast(88%);
}

.upper {
  height: 22.5625em;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.upper-page {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.messages {
  position: relative;

  &:before {
    content: '2';
    font-size: 0.7em;
    width: 0.9em;
    height: 0.9em;
    position: absolute;
    top: -0.2em;
    right: -0.2em;
    border-radius: 50%;
    background-color: $red;
    color: $lg;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.profile-icon {
  color: $light;
  font-size: 2em;
  position: relative;

  &:before {
    content: '2';
    font-size: 0.5em;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: -0.3em;
    right: -0.3em;
    border-radius: 50%;
    background-color: $red;
    color: $lg;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.search {
  flex-direction: column;
}

.search__dropdown-text,
.search__question {
  font-size: 0.8em;
} 

.search__input {
  border: none;
  padding-left: 1em;
  height: 100%;
}

input,
button:focus,
a:focus {
  outline: none;
}

.hotads {
  height: 19.5625em;
  border-bottom: 0.1em solid $lg-m;
}

.hotads__main_content-img,
.results__main_content-img {
  width: 22.6875em;
  height: 13.5em;
  background: url(../images/cordoba-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.results__main_content-img {
  background-size: cover;
  height: 14em;
  margin: auto;
}

.aside__header {
  flex-wrap: wrap;
}

.hotads__arrow_circle {
  width: 3.1875em;
  height: 3.1875em;
  border: 0.1em solid $lg-m;
  background-color: white;
}

.hotads__arrow_circle:hover {
  @extend .bg-light;
  cursor: pointer;  
  border: 0.1em solid $light;
  font-size: 1.2em;
}

.hotads__main_content-info h3,
.results__main_content-info h3
 {
  font-size: 1.3em;
}

.hotads__main_content-info p,
.results__main_content-info p
 {
  font-size: 0.8em;
  margin: 0.5em 0;
}

.hotads__main_content-info-button button:first-child {
  height: 1.5em;
  border-radius: 0.2em 0 0 0.2em;
}

.hotads__main_content-info-button button:last-child {
  height: 1.5em;
  border-radius: 0 0.2em 0.2em 0;
  border-left: 0.05em solid $dark;
}

.products__display__header {
  border-bottom: 0.1em solid $lg-m;
  padding-bottom: 0.9em;
  -webkit-box-shadow: 0px 10px 7px -11px rgba(252,252,252,1);
  -moz-box-shadow: 0px 10px 7px -11px rgba(252,252,252,1);
  box-shadow: 0px 10px 7px -11px rgba(252,252,252,1);
}

.products__display__header h5 {
  font-size: 1em;
  margin-bottom: 0;
}

.products__display__header p {
  font-size: 0.8em;
  margin-bottom: 0;
}

.products__display__cards {
  flex-wrap: wrap;
  justify-content: center;
}

.fa-guitar {
  font-size: 1.5em;
}

.products__display__cards-item {
  width: 12.5em;
  height: 17.5625em;
  background-color: white;
  border: 0.1em solid $lg-m;
  margin-right: 3em;
}

.products__display__cards-item--content > span,
.products__display__cards-item--content p {
  font-size: 0.8em;
}

.products__display__cards-item--content h6 {
  margin-bottom: 0;
}

.plus {
  width: 1.375em;
  height: 1.375em;
  border: 0.1em solid $lg-m;
  transition: background-color 1s, color 1s;
}

.plus:hover {
  background-color: $dark;
  color: $lg;
  cursor: pointer;
}

.plus--page {
  width: 1.5em;
  height: 1.5em;
  border: 0.1rem solid $lg-m;
  font-size: 1.5em;
}

.plus--page:hover {
  background-color: $dark;
  color: $lg;
  cursor: pointer;
}

.products__display__cards-item--img {
  background: url(../images/card-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.products__display__cards-item {
  min-width: 11.375em;
  margin-bottom: 1em;
}

.price {
  font-size: 0.9em;
}

.products {
  border-bottom: 0.1em solid $lg-m;
}

footer {
  height: 17.125em;
}

.footer__main--title {
  color: $red;
  font-family: "Helvetica Neue 77 Bold Condensed";
  border-bottom: 0.15em solid $red;
  padding-bottom: 0.5em;
}

.footer__logo__img {
  height: 2.3em;
  filter: invert(59%) sepia(0%) saturate(25%) hue-rotate(229deg) brightness(91%) contrast(84%);
}

.footer__logo__name {
  font-family: 'Fascinate', cursive;
  color: $light;
}

.footer__main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  &__about p {
    text-align: center;
  }

  &__options {
    min-width: 15em;
    margin-bottom: 1em;
  }

  &__options span {
    font-size: 0.9em;
  }

  &__categories {
    min-width: 15em;
  }

  &__about {
    min-width: 20em;
  }

}

.links {
  padding-top: 1em;
}

.fixed-p {
  height: 3.6rem;
  overflow: hidden;
}

li {
  font-family: 'Helvetica Neue 65 Medium';
}

.footer__bottom {
  border-top: 0.1em solid $lg-m;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.footer__bottom__copyright {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  text-align: center; 
}

.footer__bottom__copyright p {
  margin-bottom: 0;
}

.footer__bottom__social {
  margin-top: 1em;
}

.footer__bottom__social a {
  font-size: 1.3em;
  padding-right: 0.7em;
  
 }

.footer__bottom__social a:hover {
  font-size: 1.8em;
}
 
footer a {
  color: $light;
  font-size: 0.8em;
}

footer a:hover {
  color: $dark;
  text-decoration: none;
  font-size: 1em;
}

footer a:active,
footer a:focus {
  outline: none;
}

.results__header-p {
  font-size: 0.9em;
}

.temp-btn {
  display: none;
}

.results__main_content {
  flex-direction: column;
  align-items: center;
}

.results__main_content-info {
   width: 100%;
}

label {
  font-size: 0.85em;
}

.results__block {
  transition: background-color 1s;
}



.results__block:hover {
  background-color: white;
}

.results__block:hover button:first-child {
  display: inline;
}

.search-top {
  width: 100%;
}

.search-btn-div {
  width: 100%;
}

.search__question {
  width: 50%;
}

.search__input {
  width: 50%;
}

.page-flex {
  flex-direction: column;
}

// MEDIA QUERIES .........................................
@media(min-width: 768px) {
  .nav--left {
    width: 60%;
  }

  .nav__menu--short {
    display: none;
  }

  .nav__button {
    margin-left: 15%;
  }

  .nav__menu {
    display: flex;
    font-size: 0.8em;
  }
  
  .nav__brand,
  .nav__menu {
    margin-right: 8%;
  }
  
  .nav__menu__item {
    margin-right: 5%;
  }

  .nav__brand__logo__img {
    height: 3em !important; 
  }

  .brand-name--sm-w {
    font-size: 1.5em;
  }

  .search {
    flex-direction: row;
  }

  .footer__bottom {
    border-top: 0.1em solid $lg-m;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em 1em 1em;
  
  }

  .footer__bottom__copyright {
    flex-direction: row;
    width: 70%;
    flex-wrap: wrap;
  }

  .footer__bottom__social {
    margin-top: 0;
  }

  .footer__main {
    justify-content: space-between;
  }

  .search-top {
    width: 85%;
  }

  .search-btn-div {
    width: 13%;
  }

  .search__question {
    width: 40%;
  }
  
  .search__input {
    width: 40%;
  }

  .results__main_content {
    flex-direction: row;
    align-items: center;
  }

  .results__main_content-info {
    width: 55%;
  }

  .page-flex {
    flex-direction: row;
  }

  .aside-flex {
    display: block;
    width: 25%;
  }

  .aside__block,
  .aside__block__content {
  display: inline;
}

.aside__block {
  width: 100%;
}

.hotads__main_content-info-button button:first-child,
.hotads__main_content-info-button button:last-child {
  height: 3em;
}

}

@media(max-width: 500px) {
  .results__main_content-img {
    width: 65vw;
  }

  .results__block {
    overflow: hidden;
  }

  .hotads__main_content {
    flex-direction: column;
  }

  .hotads {
    height: auto;
  }
}